# Segmenting and clustering neighborhoods in toronto

In [1]:
import requests
import pandas as pd

Use the Notebook to build the code to scrape the Wikipedia page

In [2]:
wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wikipedia_page = requests.get(wiki)

In [3]:
df_raw = pd.read_html(wikipedia_page.content, header=0)[0]
df_new = df_raw[df_raw.Borough != 'Not assigned']


df_new.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [4]:
df_new.loc[df_new.Neighborhood == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [5]:
df_new.Neighborhood.replace('Not assigned',df_new.Borough,inplace=True)
df_new.head(10)

C:\Users\WINDOWS\Anaconda3\lib\site-packages\pandas\core\generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

   Postal Code           Borough                                 Neighborhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke      Islington Avenue, Humber Valley Village
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills
12         M4B         East York              Parkview Hill, Woodbine Gardens
13         M5B  Downtown Toronto                     Garden District, Ryerson

Creating a proper dataframe

In [8]:
df_toronto = df_new.groupby(['Postal Code', 'Borough'])['Neighborhood'].apply(lambda x: ', '.join(x))
df_toronto = df_toronto.reset_index()
df_toronto.rename(columns = {'Postcode':'PostalCode'}, inplace = True)
df_toronto.rename(columns = {'Neighbourhood':'Neighborhood'}, inplace = True)
df_toronto.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [9]:
df_toronto.shape

(103, 3)

# Part-02 Lattitude & Longitude co-ordinates of each neighborhood in Toronto

In [10]:
#Using CSV file method
url = 'http://cocl.us/Geospatial_data'
df_geo= pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [11]:
df_geo.shape

(103, 3)

In [12]:
#Appending two more columns to the existing data

result = df_toronto.append(df_geo)
result.head(20)

C:\Users\WINDOWS\Anaconda3\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

,Borough,Latitude,Longitude,Neighborhood,Postal Code
0,Scarborough,NaN,NaN,"Malvern, Rouge",M1B
1,Scarborough,NaN,NaN,"Rouge Hill, Port Union, Highland Creek",M1C
2,Scarborough,NaN,NaN,"Guildwood, Morningside, West Hill",M1E
3,Scarborough,NaN,NaN,Woburn,M1G
4,Scarborough,NaN,NaN,Cedarbrae,M1H
5,Scarborough,NaN,NaN,Scarborough Village,M1J
6,Scarborough,NaN,NaN,"Kennedy Park, Ionview, East Birchmount Park",M1K
7,Scarborough,NaN,NaN,"Golden Mile, Clairlea, Oakridge",M1L
8,Scarborough,NaN,NaN,"Cliffside, Cliffcrest, Scarborough Village West",M1M
9,Scarborough,NaN,NaN,"Birch Cliff, Cliffside West",M1N
10,Scarborough,NaN,NaN,"Dorset Park, Wexford Heights, Scarborough Town...",M1P
11,Scarborough,NaN,NaN,"Wexford, Maryvale",M1R
12,Scarborough,NaN,NaN,Agincourt,M1S
13,Scarborough,NaN,NaN,"Clarks Corners, Tam O'Shanter, Sullivan",M1T
14,Scarborough,NaN,NaN,"Milliken, Agincourt North, Steeles East, L'Amo...",M1V
15,Scarborough,NaN,NaN,"Steeles West, L'Amoreaux West",M1W
16,Scarborough,NaN,NaN,Upper Rouge,M1X
17,North York,NaN,NaN,Hillcrest Village,M2H
18,North York,NaN,NaN,"Fairview, Henry Farm, Oriole",M2J
19,North York,NaN,NaN,Bayview Village,M2K